{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Sprint</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Create Sprint</h1>
    
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="id_name">Sprint Name:</label>
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="form-group">
                <label for="id_start_date">Start Date:</label>
                {{ form.start_date }}
                {{ form.start_date.errors }}
            </div>
            <div class="form-group">
                <label for="id_end_date">End Date:</label>
                {{ form.end_date }}
                {{ form.end_date.errors }}
            </div>
            <div class="form-group">
                <label for="id_project">Project:</label>
                {{ form.project }}
                {{ form.project.errors }}
            </div>
            <div class="form-group">
                <label for="id_users">Users:</label>
                {{ form.users }}
                {{ form.users.errors }}
            </div>
            <button type="submit">Update Sprint</button>
        </form>
        

    </div>
</body>
</html>
{% endblock %}
